{% extends 'attendence_sys/main.html' %}
{% block content %}

<style>
	.profile-pic{
		max-width: 300px;
		max-height:500px;
		width: 65%;
        height: 25%;
        margin: 0 auto;
		/* border-radius: 50%; */
		border-radius: 50rem;

	}
</style>
<br>
    <div class="container">
        <div class="row">


            <div class="col-md-1">
                
            </div>

            <div class="col-md-5">
                <form action="{% url 'updateStudent' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- <div class="form-group" style="visibility: hidden !important;margin-top: -40px;">
                        <input type="text" class="form-control" value="{{ prev_reg_id }}" name="prev_reg_id">
                    </div> -->
                    {{ form.as_p }}
                    <input class="btn btn-dark" type="submit" name="Update Information" style="border-radius: 5rem; width: 200px; margin-left: 7rem; padding:0.75rem; margin-top: 0.5rem;">
                </form>
            </div>

            <div class="col-md-1">

            </div>

            <div class="col-md-3.5">
                <!-- <div class="card card-body"> -->
                    <!-- <a class="btn btn-dark" href="{% url 'home' %}"> Back to Home</a> -->
                    <!-- <hr> -->
                    <!-- <h3 style="text-align: center">Student Profile Pic</h3> -->
                    <!-- <hr> -->
                    <img class="img-responsive profile-pic" src="{{ student.profile_pic.url }}" >
                <!-- </div> -->
            </div>

        </div>
        <br>
    </div>

{% endblock %}